@CHARSET "ISO-8859-1";
body {
    background-image: url(backgroundimages/goodgrey.jpg); 
   
}

h6{
    text-align: center;
    border-style:solid;
	border-width: medium;
    display:inline-block; 
    padding:1em;
    background-color:white;
    margin-top:0px;
    margin-bottom:0px;
    margin-right: 150px;
    margin-left: 80px;
    font-family: "courier new","Times New Roman", Times, serif;
     text-shadow: 3px 2px black;
}

div.container-fluid{
	 text-align: center;
}

pre{
	background-color: rgb(80,100,75);
}
th, td {
   border: 1px solid black;
}
table {
    width: 100%; 
    border: 4px solid black;
     border-spacing: 10px 50px;
}

th {
    height: 50px;
    text-align: left;
}