@CHARSET "ISO-8859-1";
table tr td, table tr th{
    background-image: url(../images/lightwood.jpg); 
    border: 0.25px solid black;
    border-spacing: 10px 50px;
    
}
body {
    background-image: url(../images/lightwood.jpg); 
   
}